#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.card{
  padding:1rem;
  margin:1rem;
}
.selector{
  width: 2.2rem;
  height: 3px;
  background-color: red;
  border: #000000 0.1px solid;
  position: absolute;
}
.range{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.term{
  height:20rem;
  border-radius: 10px;
  width: 2rem;
  background: linear-gradient(to top, #9900ff, #00ffff, #ffff00, #ff0000);
  margin: 1rem;
}